@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--time-table-height: 4rem;
	--time-table-left: 3.8rem;
	--time-table-half-height: calc(var(--time-table-height) / 2);
	--time-table-minute-height: calc(var(--time-table-height) / 60);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
